<body>
    <div id="levelData" class="hidden">{{levelData}}</div>
    <img class = "hidden"
        id = "bricksImg"
        src = "/images/bricks.png"
        alt = "bricks" />
    <img class = "hidden"
        id = "smileImg"
        src = "/images/smile.png"
        alt = "smile" />
    <img class = "hidden"
        id = "tongueImg"
        src = "/images/tongue.png"
        alt = "tongue" />
    <img class = "hidden"
        id = "donutImg"
        src = "/images/donut.png"
        alt = "donut" />
    <canvas id="gameCanvas" width="1000" height="1000">

    </canvas>
</body>
