
<body>
    <script src="/js/hackman.js"></script>    
    <script src="/js/pathfinder.js"></script>
    <div id="levelData" class="hidden">{{levelData}}</div>
    <div id="levelNumber" class="hidden">{{levelNumber}}</div>
    <img class = "hidden"
        id = "bricksImg"
        src = "/images/bricks.png"
        alt = "bricks" />
    <img class = "hidden"
        id = "smileFace"
        src = "/images/smile.png"
        alt = "smile" />
    <img class = "hidden"
        id = "tongueFace"
        src = "/images/tongue.png"
        alt = "tongue" />
    <img class = "hidden"
        id = "deadFace"
        src = "/images/dead.png"
        alt = "dead" />
    <img class = "hidden"
        id = "donutImg"
        src = "/images/donut01.png"
        alt = "donut" />
    <img class = "hidden"
        id = "carrotImg"
        src = "/images/carrot.png"
        alt = "carrot" />
    <img class = "hidden"
        id = "graveImg"
        src = "/images/grave.png"
        alt = "grave" />
    <img class = "hidden"
        id = "irkedFace"
        src = "/images/irked_face.png"
        alt = "irked" />
    <img class = "hidden"
        id = "angryFace"
        src = "/images/angry_face.png"
        alt = "angry" />
    <img class = "hidden"
        id = "poopFace"
        src = "/images/poop_face.png"
        alt = "poop" />
    <img class = "hidden"
        id = "devilFace"
        src = "/images/devil_face.png"
        alt = "devil" />
    <img class = "hidden"
        id = "ghost"
        src = "/images/ghost.png"
        alt = "ghost" />
    <img class = "hidden"
        id = "starEyes"
        src = "/images/star_eyes.png"
        alt = "stars" />
    <canvas id="gameCanvas" width="1080" height="1080">

    </canvas>
    <div id="startButton"><img src="/images/smile.png" width="100%" onclick="unPause()"></div>
</body>
