
<body>
    <h1 style="color:white">Hakcman!!!</h1>
    <img src="/images/smile.png" alt="">
    <br>
    <br>
    <button style="font-size:larger" onclick="window.location.href='/game/0'">start</button>
</body>
