
<body>
    <h1>Hakcman!!!</h1>
    <img width="100px" src="/images/smile.png" alt="">
    <br>
    <br>
    <button style="font-size:larger" onclick="window.location.href='/game/1'">start</button>
</body>
