html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    width: 100vmin;
    height: 100vmin;
}

.hidden {
    display: none;
}

.blockimg {
    position: absolute;
    display: block;
}