html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-color:#1F1F1F;
    color: white;
}

#gameCanvas {
    width: 100vmin;
    height: 100vmin;
}

.hidden {
    display: none;
}

.blockimg {
    position: absolute;
    display: block;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: block;
    width: 12vmin;
    height: 12vmin;
    border-radius: 50%;
    box-sizing: content-box;
    border: none;
}
#startButton:hover {
    border: 1vmin solid white;
}

#trackPad {
    display: none;
}
@media (max-aspect-ratio: 1/1) {
    #trackPad {
        width: Calc(100vmax - 100vmin);
        height: Calc(100vmax - 100vmin);
        position: absolute;
        display: block;
        top: 100vmin;
        left: 50%;
        transform: translate(-50%);
        line-height: 0;
    }
    #directionsImage {
        display: block;
        position: fixed;
        width: 90%;
        height: 90%;
        margin: 5%;
    }
    .trackButton {
        width: 33.33%;
        height: 33.33%;
        display: inline-block;
        z-index: 20;
        box-sizing: border-box;
        position: absolute;
    }
    .trackButton.outline {
        border: 2px solid skyblue;
    }
    #startButton {
        top: 50vmin;
    }
}